@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Domine&display=swap');
App-link {
  color: #61dafb;
}

.loadingIcon{
  position: absolute;
  top:50%;
  left: 50%;
}

/* Navbar Component starts */

.navbar{
  background: linear-gradient(to bottom,#7b87fd,#61b1fb);
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btns-section{
  margin-right: 60px;
  justify-content: space-between;
  display: flex;
  width: 500px;
  align-items: center;
}

.nav-btns-section2{
  margin-right: 60px;
  justify-content: space-around;
  display: flex;
  width: 300px;
  align-items: center;
}

.appName{
  font-family: 'Domine', serif;
  padding-left: 50px;
  font-weight: 700;
  color:white;
  font-size: 33px;
}

.cotaskerLink{
  text-decoration: none;
}

.navbar-profile-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

#dropdownMenu{
  background-color: transparent;
  border: none;
}

.dropdown-menu[data-bs-popper] {
  top: 67px;
  left: -60px;
  margin-top: 0.125rem;
}

.nav-links{
  text-decoration: none;
}
/* Navbar Component ends*/

/* img on main page */

.homeImg{
  width: 400px
}

/* Sign Up page styling starts */

.auth-page{
  font-family: 'Domine', serif;
  display: flex;
 
  justify-content: space-around;
}

.auth-form{
  display:flex;
  flex-direction: column;
}

.auth-form-panel{
  margin-top: 40px;
}

/* Sign Up page styling ends */

/* Post A Task Page Styling starts */

.task-form{
  margin: 70px 0px 40px;
  padding: 30px 60px;
  width: 500px;
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
}

.post-task-page{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.taskPostBtn{
  width: 130px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.postTaskHeading{
  margin: -48px auto 30px;
  background: white;
  width: fit-content;
  font-family: 'Domine', serif;
}

#titleMinChars{
  position: absolute;
  right: 61px;
  top: 48px;
  font-size: 12px;
}

#descMinChars{
  position: absolute;
  right: 61px;
  top: 135px;
  font-size: 12px;
}

#taskDesc{
  resize: none;
}

/* Post A Task Page Styling ends */

/* Browse Tasks Page starts */

.browse-tasks-page{
  margin: auto;
  width: 600px;
}

.browse-tasks-page h2{
  font-family: 'Domine', serif;
  margin: 53px 0px 40px;
}

.task-min-view{
  border: 1px solid black;
  margin: 30px 0px;
  border-radius: 10px;
  padding: 10px 0px 10px 45px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.task-min-view p{
  margin-bottom: 0px;
}

.createrImg{
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: -40px;
  top: 24px;
  border: 2px solid orange;
}

.offers-browser-page{
  /* position: absolute;
  right: 0;
  top: 11px;
  font-size: 18px;
  margin-right: 20px; */
  color: orangered;
  font-weight: 500;
  width: 100px;
}

.task-info-browser{
  width:430px;
  color: black;
}

.browser-link{
  text-decoration: none;
}

/* Browse Tasks Page ends */

/* Task Details Page starts */

.taskDetailsPage{
  width: 600px;
  margin: 70px auto 40px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
}

.detail-section{
  background-color: #e5f3ff;
  margin: 0px 20px 5px;
  padding: 10px;
  border-radius: 10px;;
}

.taskDetailsPage div>p{
  margin-bottom: 0px;
}

.taskImg{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 10px;
}

.makeAnOffer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.makeAnOffer button{
  margin: 10px 0px;
  width: 190px;
}

.budget-task-details{
  font-size: 20px;
}

.detail-page-headings{
  font-weight: 500;
}

.taskDetailsHeading{
  margin: -18px auto 30px;
  background: white;
  width: fit-content;
  font-family: 'Domine', serif;
}

.updateBtnSection{
  display: flex;
  justify-content: space-between;
}

.taskEditBtn{
  background-color: orange;
  padding: 0px 3px;
  position: absolute;
  top: 10px;
  right: 90px;
}

.taskDeleteBtn{
  background-color: orange;
  padding: 0px 3px;
  position: absolute;
  top: 10px;
  right: 50px;
}

.modal-ends{
  justify-content: center;
}

.offerPending{
  position: absolute;
  top: 10px;
  right: 90px;
  color: orange;
  font-weight: 500;
}

/* Task Details Page ends */

/* Profile Page Styling starts here */

.profilePage{
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.profilePageImg{
  width: 150px;
  border: 3px solid orange;
  border-radius: 100px;
}

/* Profile Page Styling ends here */

/* Posted Tasks Stylinh starts here */
.postedTaskHeading{
  font-family: 'Domine', serif;
}
/* Posted Tasks Stylinh ends here */